.text_node {
    width: 100%;
    height:100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text_node_title {
    color: var(--black);
    font-size: var(--font-size-big);
    font-weight: bolder;
}

.text_node_text {
    color: var(--black);
    font-size: var(--font-size-normal);
    font-weight: normal;
}