.button {
    display: inline-block;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--black);
    font-size: var(--font-size-normal);
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    user-select: none;
}

.button:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
}

.button:active {
    transform: scale(0.98);
}
